.ctn-profile {
  position: relative;
  width: 400px;
  height: 400px;
}

.ctn-profile img {
  position: absolute;
  max-height: 100%;
}

.bkgr {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -25px;
  width: 450px;
  height: 240px;
  background-color: var(--comp-trans);
  z-index: -1;
  border-radius: 210px 210px 0 0;
}

/* Mobile media query */

@media only screen and (max-width: 768px) {
  .media-switch {
    flex-direction: column-reverse;
    align-items: center !important;
    margin-bottom: 0 !important;
    justify-content: center !important;
    margin-top: 2rem !important;
  }
  .ctn-profile {
    height: 40%;
    overflow: visible;
  }

  .bkgr {
    left: 40px;
    width: 80%;
    height: 65%;
  }

  #first h1 {
    font-size: 3.2em !important;
  }
  #first h4 {
    font-size: 1.1em !important;
    font-weight: 500;
  }
  #first h6 {
    font-size: 1.1em !important;
    font-weight: 400;
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
