.work {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work:hover {
  cursor: pointer;
}

.work#top {
  height: 33%;
  width: 100%;
  background-size: cover;
}

.work#top:hover #topZoom {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.work#center {
  height: 33%;
  width: 100%;
  background-size: cover;
}

.work#center:hover #centerZoom {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.work#bottom {
  height: 33%;
  width: 100%;
  background-size: cover;
}

.work#bottom:hover #bottomZoom {
  transform: scale(1.1);
  transition: transform 0.3s;
}
