.work {
  height: 20%;
  width: 100%;
  display: flex;
  color: var(--text-primary);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.4s;
}

.work:hover {
  cursor: pointer;
  background-color: var(--sec-trans);
  transition: background-color 0.7s;
}

.work.clicked {
  background: linear-gradient(39deg, var(--secondary) 24%, var(--primary) 84%);
}

.work.clicked h4 {
  color: var(--snow);
}

.work#top:hover #topZoom,
.work#center:hover #centerZoom,
.work#bottom:hover #bottomZoom {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.background {
  --junior-url: url("https://res.cloudinary.com/dujsafeed/image/upload/v1681653075/Junior_ryexw0.jpg");
  --dean-url: url("https://res.cloudinary.com/dujsafeed/image/upload/v1681161325/Dean_a3ykju.jpg");
  --olde-url: url("https://res.cloudinary.com/dujsafeed/image/upload/v1681161326/Oldejack_hwzmbj.jpg");
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.dark .background {
  --style: linear-gradient(to bottom, transparent 70%, rgb(22, 22, 22));
}

.light .background {
  --style: linear-gradient(to bottom, transparent 70%, var(--snow));
}

.junior {
  background-image: var(--style), var(--junior-url);
  background-position: center;
}

.dean {
  background-image: var(--style), var(--dean-url);
  background-position: top;
}

.olde {
  background-image: var(--style), var(--olde-url);
  background-position: center;
}

/* MUI - dividers */
.MuiDivider-root {
  border-color: var(--sec-trans) !important;
}
