.work {
  height: 20%;
  width: 100%;
  display: flex;
  color: var(--text-primary);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.4s;
}

.work:hover {
  cursor: pointer;
  background-color: var(--sec-trans);
  transition: background-color 0.7s;
}

.work.clicked {
  background: linear-gradient(39deg, var(--secondary) 24%, var(--primary) 84%);
}

.work#top:hover #topZoom,
.work#center:hover #centerZoom,
.work#bottom:hover #bottomZoom {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.background {
  --junior-url: url("https://res.cloudinary.com/dujsafeed/image/upload/v1681653075/Junior_ryexw0.jpg");
  --dean-url: url("https://res.cloudinary.com/dujsafeed/image/upload/v1681161325/Dean_a3ykju.jpg");
  --olde-url: url("https://res.cloudinary.com/dujsafeed/image/upload/v1681161326/Oldejack_hwzmbj.jpg");
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.dark .background {
  --style: linear-gradient(to bottom, transparent 70%, rgb(27, 36, 37));
}

.light .background {
  --style: linear-gradient(to bottom, transparent 70%, var(--snow));
}

.junior {
  background-image: var(--style), var(--junior-url);
  background-position: center;
}

.dean {
  background-image: var(--style), var(--dean-url);
  background-position: top;
}

.olde {
  background-image: var(--style), var(--olde-url);
  background-position: center;
}

/* MUI - dividers */
.MuiDivider-root {
  border-color: var(--sec-trans) !important;
}

/* Mobile media query */

@media only screen and (max-width: 768px) {
  #second .active {
    justify-content: start !important;
  }
  #second .media-switch {
    flex-direction: column;
    margin-top: 5rem;
  }
  #second .ctn {
    padding: 0 0.6rem !important;
    height: calc(100% - 4rem);
  }
  .background {
    height: 150px !important;
  }
  #second h2 {
    font-size: 2.8em !important;
  }
  .title {
    font-size: 1.7em !important;
    font-weight: 500;
  }
  #second h5 {
    font-size: 1.1em !important;
  }
  #second h6 {
    font-size: 0.9em !important;
  }
  #second p {
    font-size: 0.9em !important;
  }
  .work-ctn {
    position: relative;
    flex-direction: row !important;
    gap: 10px;
    height: auto !important;
    padding: 1rem 0 !important;
  }

  .main.ctn::after {
    content: "↓ Check out my recent work ↓";
    font-family: "DM Sans", sans-serif !important;
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    bottom: 100px;
  }

  .work-popper {
    overflow: auto;
  }

  .work {
    height: auto;
    width: auto;
    padding: 5px;
  }
  .work-popper {
    height: calc(100% - 4rem) !important;
  }
  .work h4 {
    font-size: 1.1em !important;
    font-weight: 400;
  }
  .work.clicked h4 {
    font-weight: 500;
  }
  .work-divider {
    display: none;
  }
  .gamble {
    margin-top: 1.5rem !important;
    text-align: center !important;
  }
  .text-cta {
    display: none;
  }
}
