/* 
** font-family: 'DM Sans', sans-serif; - available in regular 400, 400 italic, medium 500, 500 italic, bold 700, 700 italic
** font-family: 'DM Serif Display', serif; - available in regular 400, 400 italic
*/

body.light {
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --primary: rgba(225, 106, 61, 0.8);
  --secondary: rgba(255, 164, 93, 0.8);
  --sec-trans: rgba(255, 164, 93, 0.4);
  --snow: rgb(255, 251, 254);
  --comp: rgb(1, 106, 109);
  --comp-trans: rgba(1, 106, 109, 0.8);
  --contrast: rgb(4, 62, 82);
}

body.dark {
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --primary: rgb(4, 62, 82);
  --secondary: rgb(1, 106, 109);
  --sec-trans: rgba(1, 106, 109, 0.4);
  --snow: rgb(255, 251, 254);
  --comp: rgb(255, 164, 93);
  --comp-trans: rgb(255, 164, 93, 0.8);
  --contrast: rgb(225, 106, 61);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(39deg, var(--secondary) 24%, var(--primary) 84%);
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  color: var(--snow);
}

h3,
h4,
h5,
h6,
p,
a,
strong {
  font-family: "DM Sans", sans-serif;
  color: var(--text-primary);
}

button a {
  color: var(--snow);
}

#fp-nav span {
  background: var(--comp-trans) !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

nav {
  position: absolute;
  top: 0;
  color: var(--snow);
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

nav.first {
  background-color: rgba(0, 0, 0, 0);

  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  transition-delay: 500ms;
  transition-property: background-color;
}

nav.scroll {
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: background-color 0.7s ease-in;
  -moz-transition: background-color 0.7s ease-in;
  -o-transition: background-color 0.7s ease-in;
  transition: background-color 0.7s ease-in;
}

nav a {
  color: var(--snow);
  text-decoration: none;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

label[data-shrink="true"] {
  color: var(--contrast) !important;
}

.MuiInputBase-root::after {
  border-bottom: 2px solid var(--contrast) !important;
}

.MuiDivider-root {
  border-color: var(--sec-trans) !important;
}
