/* 
** font-family: 'DM Sans', sans-serif; - available in regular 400, 400 italic, medium 500, 500 italic, bold 700, 700 italic
** font-family: 'DM Serif Display', serif; - available in regular 400, 400 italic
*/

body.light {
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-special: rgba(0, 0, 0, 0.6);
  --primary: rgb(189, 211, 219);
  --secondary: rgb(202, 226, 227);
  --sec-trans: rgba(202, 226, 227, 0.4);
  --snow: rgb(255, 251, 254);
  --comp: rgb(1, 106, 109);
  --comp-trans: rgba(1, 106, 109, 0.8);
}

body.dark {
  --text-primary: rgb(255, 251, 254);
  --text-secondary: rgba(202, 226, 227, 0.8);
  --text-special: rgb(255, 251, 254);
  --primary: rgb(4, 62, 82);
  --secondary: rgb(1, 106, 109);
  --sec-trans: rgba(1, 106, 109, 0.4);
  --snow: rgb(255, 251, 254);
  --comp: rgb(255, 164, 93);
  --comp-trans: rgb(255, 164, 93, 0.8);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(39deg, var(--secondary) 24%, var(--primary) 84%);
}

h1,
h2 {
  font-family: "DM Serif Display", serif !important;
  color: var(--text-special);
}

h4,
h6,
p,
a,
strong {
  font-family: "DM Sans", sans-serif !important;
  color: var(--text-primary);
  text-decoration: none;
}

nav {
  position: absolute;
  top: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

nav.first {
  background-color: rgba(0, 0, 0, 0);

  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  transition-delay: 500ms;
  transition-property: background-color;
}

.light nav.scroll {
  background-color: rgba(0, 0, 0, 0);
}

nav.scroll {
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: background-color 0.7s ease-in;
  -moz-transition: background-color 0.7s ease-in;
  -o-transition: background-color 0.7s ease-in;
  transition: background-color 0.7s ease-in;
}

nav,
nav a {
  color: var(--text-special);
  text-decoration-color: rgba(0, 0, 0, 0);
}

nav:hover {
  text-decoration-color: var(--text-special);
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: text-decoration-color 500ms;
}

button {
  background-color: var(--comp-trans) !important;
}

button:hover {
  background-color: var(--comp) !important;
}

button a {
  color: var(--snow) !important;
}

button span {
  font-family: "DM Sans", sans-serif;
}

/* fullpage.js - navigation dots */
#fp-nav span {
  background: var(--comp-trans) !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#fp-nav span:hover {
  background: var(--comp) !important;
}

/* fullpage.js - sections background color and background pattern */
.light #second {
  background-color: var(--snow);
}

.dark #second {
  background-color: rgba(30, 30, 30, 0.9);
}

#first,
#third {
  background-repeat: no-repeat;
  background-size: cover;
}

.dark #first {
  background-image: url("/dark-first.svg");
}

.dark #third {
  background-image: url("/dark-third.svg");
}

.light #first {
  background-image: url("/light-first.svg");
}

.light #third {
  background-image: url("/light-first.svg");
}
